---
component: Expander
layout: main-layout.html
analytics:
  pageCategory: component
  component: expander
---

<a href="https://design.atlassian.com/latest/product/patterns/reveal-text/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>Use this when you need to show users one or more small snippets of a larger body of text in order to keep the
    user interface lightweight and scannable.</p>

<p>This pattern includes both revealing the rest of the text on the same screen, and linking to another screen for
    the full text.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-expander"><code>com.atlassian.auiplugin:aui-experimental-expander</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.1</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>
<h3>Examples</h3>

<div class="aui-flatpack-example">

    <h3>Content title</h3>

    <div id="reveal-text-content-example" class="aui-expander-content">
        What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably
        find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team
        found and refined the fix. The Problem The Atlassian User Interface (AUI) library has just finished an IE10
        sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems
        generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some
        undesirable behaviours.
        <a id="reveal-text-trigger-example" data-replace-text="Show less" data-replace-selector=".reveal-text-trigger-text"
           class="aui-expander-trigger aui-expander-reveal-text" aria-controls="reveal-text-content-example">
            <span class="reveal-text-trigger-text">Show more</span>
        </a>
    </div>

    <style>
        #reveal-text-content-example {
            min-height: 1.5em;
        }
    </style>
</div>
<h3>Code</h3>

<p>Regular expander</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div id="expander-with-replace-text-content" class="aui-expander-content">
        What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix. The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours.
        </div>
        <a id="replace-text-trigger" data-replace-text="Read less" class="aui-expander-trigger" aria-controls="expander-with-replace-text-content">Read more</a>
    </noscript>
</aui-docs-example>
<p>Reveal text</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div id="container">
            <div id="reveal-text-content" class="aui-expander-content">
                What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix. The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours
                <a id="reveal-text-trigger" data-replace-text="Show less" data-replace-selector=".reveal-text-trigger-text"
                   class="aui-expander-trigger aui-expander-reveal-text" aria-controls="reveal-text-content">
                    <span class="reveal-text-trigger-text">Show more</span>
                </a>
            </div>
        </div>
    </noscript>
    <noscript is="aui-docs-code" type="text/css">
        #reveal-text-content {
            min-height: 1.5em;
        }
    </noscript>
</aui-docs-example>
<h4>Soy</h4>

<p>Regular expander</p>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.expander.trigger}
        {param id: 'replace-text-trigger'/}
        {param contentId: 'expander-with-replace-text-content'/}
        {param tag: 'a'/}
        {param content: 'Read More'/}
        {param replaceText: 'Read Less'/}
    {/call}
    {call aui.expander.content}
        {param id: 'expander-with-replace-text-content'/}
        {param content}
        What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix. The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours
        {/param}
    {/call}
</noscript>
<p>Reveal text</p>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.expander.revealText}
        {param triggerId: 'reveal-text-trigger'/}
        {param contentId: 'reveal-text-content'/}
        {param contentContent}
            What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix.
            The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours.
        {/param}
    {/call}
</noscript>

<h3>Options</h3><h4>HTML</h4><h4> .aui-expander-trigger </h4>

<p>The trigger that expands and hides the desired content.</p>
<table class="aui">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>aria-controls</code></td>
        <td>the id of the content that this trigger expands/hides</td>
    </tr>
    <tr>
        <td><code>data-replace-text</code></td>
        <td>The text that replaces the trigger text after initial invocation (collapsed state if expanded initially,
            expanded state if collapsed initially)
        </td>
    </tr>
    </tbody>
</table>
<h4> .aui-expander-content </h4>

<p>The content to be expanded and hidden.</p>
<table class="aui">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>aria-expanded</code></td>
        <td>use this to expand the expander by default. DO NOT use this to manipulate the expander after load. Use
            the events instead.
        </td>
    </tr>
    </tbody>
</table>
<h4> .aui-expander-short-content </h4>

<p>An element containing the short version of the content to be shown when the content is hidden, must be placed as
    the child of a trigger.</p><h4> CSS </h4>

<p>The expander uses css to determine a collapsed state. If you apply a <code> min-height </code> attribute to the
    <code> aui-expander-content </code> element it will collapse to this height. If no min-height is specified the
    collapsed state is completely hidden.</p><h4> Events </h4>

<p> The AUI Expander throws the following events, you can hook into these events to add your own functionality to
    the expander: </p>
<table class="aui">
    <thead>
    <tr>
        <th>Event</th>
        <th>Element</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>aui-expander-expanded</code></td>
        <td>aui-expander-trigger</td>
        <td>Triggers when the content is expanded.</td>
    </tr>
    <tr>
        <td><code>aui-expander-collapsed</code></td>
        <td>aui-expander-trigger</td>
        <td>Triggers when the content is hidden/partially hidden.</td>
    </tr>
    </tbody>
</table>
<p> You can also trigger the following events to manipulate the expander: </p>
<table class="aui">
    <thead>
    <tr>
        <th>Event</th>
        <th>Element</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>aui-expander-invoke</code></td>
        <td>aui-expander-trigger</td>
        <td>invokes the trigger (collapses or expands it depending on the current state of content)</td>
    </tr>
    <tr>
        <td><code>aui-expander-expand</code></td>
        <td>aui-expander-trigger</td>
        <td>expands the content</td>
    </tr>
    <tr>
        <td><code>aui-expander-collapse</code></td>
        <td>aui-expander-trigger</td>
        <td>collapses the content</td>
    </tr>
    </tbody>
</table>
